name: AWS Terraform Deployment

on:
  push:
    branches:
      - main  
  pull_request:
    branches:
      - main 

jobs:
  terraform:
    runs-on: ubuntu-latest  

    steps:
      # Checkout du code
      - name: Checkout repository
        uses: actions/checkout@v2

      # Configuration de Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.3.9 

      # Configuration des identifiants AWS
      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws_region: "eu-west-3"

      # Initialisation de Terraform 
      - name: Terraform Init
        run: |
          cd terraform/aws  
          terraform init

      # Exécution de Terraform Plan
      - name: Terraform Plan
        run: |
          cd terraform/aws  
          terraform plan -out=tfplan

      # Exécution de Terraform Apply
      - name: Terraform Apply
        run: |
          cd terraform/aws 
          terraform apply -auto-approve tfplan
